@charset "utf-8";
/*reset*/
html,body,div,span,
h1,h2,h3,h4,p,blockquote,a,
small,strike,strong,b,em,i,sub,sup,img,ins,
ul,ol,li,dl,dt,dd,
fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,th,td {
	border: none;
	padding:0;
	margin:0;
	outline:0;
	vertical-align:baseline;
}
li {list-style:none}
/*/reset*/

/*fonts*/
@font-face {font-family: 'PT Sans';
	src: url('../fonts/PTS55F_W.eot') format("embedded-opentype"); 
	src:
		local('PT Sans'),
		url('../fonts/PTS55F_W.woff') format('woff'),
		url('../fonts/PTS55F_W.ttf') format('truetype'),
		url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans'; 
	font-style: italic;
	src: url('../fonts/PTS56F_W.eot') format("embedded-opentype"); 
	src: 
		local('PT Sans Italic'),
		url('../fonts/PTS56F_W.woff') format('woff'),
		url('../fonts/PTS56F_W.ttf') format('truetype'),
		url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/PTS75F_W.eot') format("embedded-opentype");
	font-style: normal;
	font-weight: bold; 
	src:
		local('PT Sans Bold'),
		url('../fonts/PTS75F_W.woff') format('woff'),
		url('../fonts/PTS75F_W.ttf') format('truetype'),
		url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
	src: url('../fonts/PTN57F.eot') format("embedded-opentype");
	font-style: normal;
	src: 
		local('PT Sans Narrow'),
		url('../fonts/PTN57F.woff') format('woff'),
		url('../fonts/PTN57F.ttf') format('truetype'),
		url('../fonts/PTN57F.svg#PTSans-Narrow') format('svg');}

@font-face {font-family: 'PT Sans Narrow';
	src: url('../fonts/PTN77F_W.eot') format("embedded-opentype");
	font-style: normal;
	font-weight: bold;
	src: 
		local('PT Sans Narrow Bold'),
		url('../fonts/PTN77F_W.woff') format('woff'),
		url('../fonts/PTN77F_W.ttf') format('truetype'),
		url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');}
/*/fonts*/


/*-----------------MAIN-STYLES-----------------*/
body {
	background: #fff url('../img/bg.png');
	color: #000000;
	font: 14px/18px 'PT Sans', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 978px;
	padding: 0 18px 0;
}
.page {
	margin-right: -18px;
}
.h_g {
	position: relative;
	z-index: 10;
	width: 100%;
	min-width: 1014px;
	background: url('../img/h_g.png') 0 0 repeat-x;
	height: 12px;
}
/*.page {padding: 0 6px 0 12px;}*/



a {color: #0a80be;}
a:hover {color: #906}

h1 {
	font: bold 30px/30px 'PT Sans Narrow', sans-serif;
	margin: 0px 0 32px 0;
}
h2 {
	font: bold 24px/30px 'PT Sans', sans-serif;
	margin: 18px 0 18px 0;
}
h3 {
	font: bold 18px/18px 'PT Sans', sans-serif;
	margin: 0 0 12px 0;
}
/*-----------------MAIN-STYLES-END-----------------*/




/*-----------------HEADER-----------------*/
/*layout*/
.header {
	position: relative;
	margin: 0 0 0 0;
	z-index: 3;
	padding: 90px 18px 0 0;
}
.item_t, .new, .cat_item, .cat_items .price, .left, .center, .items_b .item, .item_img_zm, .cart_item_name, .cart_item_price, .cart_item_qty_btn, .cart_item_sum, .cart_del {
	display: inline-block;
	vertical-align: top;
}
/*/layout*/

/*logo*/
.logo_note {
	position: absolute;
	top: 50px;
	left: 0;
	font-size: 12px;
	width: 233px;
}
.short_about {
	position: absolute;
	width: 210px;
	top: 10px;
	left: 260px;
	font-size: 16px;
}
#logo_box {
	display: block;
	height: 42px;
	width: 233px;
	position: absolute;
	left: 0px;
	top: 10px;
}
.top_img {
	position: absolute;
	top: -6px;
	left: 480px;
	width: 273px;
}
/*/logo*/


/*contacts*/
.contacts {
	position: absolute;
	top: 2px;
	right: 78px;
	width: 172px;
}
.tel {
	font-size:30px;
	line-height: 30px;
	font-weight: bold;
}
.tel span{
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
	margin-right: 5px;
}
.adr {
	font-size: 13px;
	font-style: italic;
}
/*/contacts-end*/

/*menu*/
.menu {
	position: relative;
	height: 50px;
	margin: 0 -10px;
	background: url('../img/bg_menu_b.png') 50% 100% no-repeat;
	z-index: 5;
}
.menu ul {
	height: 40px;
	padding: 0 10px;
	background: url('../img/bg_menu.jpg') 0 0 repeat-y;
	border-radius: 3px;
}
.menu li {
	display: inline-block;
	margin: 10px 30px 0 0;
}
.menu li a {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}
li._toright {
	margin: 10px 0 0 30px;
	float: right;
}
.menu_price {
	background: url('../img/ic_menu.png') 0px 50% no-repeat;
	padding-left: 20px;
}
/*menu-end*/
/*shutter*/
.shutter, .news {
	position: relative;
	z-index: 4;
	margin: -18px 18px 10px;
	padding: 9px;
	background: #ffffff;
}
/*ring onclick
.shutter:hover {
	padding: 18px;

}
.shutter:hover .shutter_text {
	height: 100%;
}*/
.shutter_text {
	padding: 18px;
}
.shutter_b {
	position: absolute;
	bottom: -11px;
	width: 100%;
	left: 0;
	background: url('../img/shutter_b.png') 50% 100% no-repeat;
	height: 11px;
}
.shutter_t {
	position: absolute;
	top: -11px;
	width: 100%;
	left: 0;
	background: url('../img/shutter_t.png') 50% 100% no-repeat;
	height: 11px;
}
.shutter_ring {
	position: absolute;
	bottom: -23px;
	left: 50%;
	margin-left: -8px;
	height: 23px;
	width: 17px;
	background: url('../img/shutter_ring.png');
}
/*/shutter-end*/
/*--------------HEADER-END--------------*/




/*----------------PAGE------------------*/
/*layout*/
.main {
	position: relative;
	margin-top: 36px;
}
.col {
	width: 720px;
	display: inline-block;
	vertical-align: top;
	margin-right: 18px;
}
.left {
	width: 250px;
}
.center {
	width: 460px;
}
/*/layout*/

/*main_t*/
.main_t {
	margin: 36px 0 0;
}
.item_t {
	width: 298px;
	margin: 0 30px 0 0;
}
.item_t_img {
	position: relative;
	height: 295px;
}
.item_t_img img {
	position: absolute;
	z-index: 3;
	bottom: -60px;
}
.item_t_title {
	bottom: none;
	top: 0;
	left: 10px;
}
.item_t a, .cat_item a, .item a {
	position: relative;
	z-index: 5;
	font: bold 24px/28px 'PT Sans Narrow', sans-serif;
}
.item_t a {
	display: block;
	max-width: 260px;
}
.item_t p, .category p {
	margin: 10px 0 10px;
	color: #5b5b5a;
	font-style: italic;
	font-size: 16px;
	line-height: 18px;
}
/*/main_t-end*/

/*cat_items*/
.cat_items {
	display: inline-block;
	vertical-align: top;
	width: 668px;
	margin: 20px 0;
}
.cat_item {
	width: 214px;
	height: 150px;
	position: relative;
	margin: 0 14px 0 0;
	padding: 0 0 0 100px;
}
.cat_item img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.cat_item p {
	margin-top: 10px;
	color: #2d2d2d;
}
/*/cat_items-end*/
/*items*/
.item {
	position: relative;
	color: #2d2d2d;
	padding: 0 0 0 100px;
	margin: 10px 0;
}
.item p {
	margin: 5px 0;
}
.item_img {
	position: absolute;
	top: 5px;
	left: 0;
}
.item_img_zl, .item_img_zm {
	position: relative;
	margin-bottom: 9px;
}
.item_img_zm {
	margin: 0 12px 0 0;
}
.item_img_fr {
	position: absolute;
	top: 0;
	left: 0;
	height: 87px;
	width: 87px;
	background: url('../img/item_fr_zs.png') no-repeat;
}
.item_img_fr_zl {
	position: absolute;
	top: 0;
	left: 0;
	height: 209px;
	width: 234px;
	background: url('../img/item_fr_zl.png') no-repeat;
}
.item_img_fr_zm {
	position: absolute;
	top: 0;
	left: 0;
	height: 109px;
	width: 109px;
	background: url('../img/item_fr_zm.png') no-repeat;
}
.kol_comment {
	display: block;
	padding: 0 0 0 18px;
	background: url('../img/ic_comment.png') 0 50% no-repeat;
	color: #707070;
	font-size: 12px;
	font-style: italic;
}
.items_b .item {
	width: 235px;
	margin: 0 36px 0 0;
}
/*/items-end*/
/*product*/
.product_name {
	font-size: 16px;
}
.sup {
	vertical-align: super;
	font-size: 12px;
}
.product_tech {
	font-size: 12px;
}
.product_tech .sup {
	font-size: 8px;
}
.product_tech td {
	padding: 5px 18px 0 0;
}
.product_tech caption {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
.product_price {
	font: bold 24px/28px 'PT Sans Narrow', sans-serif;
	margin: 18px 0;
}
.product_price span {
	padding: 0 24px 0 0;
	background: url('../img/ic_rub.png') 100% 50% no-repeat;
}
.to_cart {
	position: relative;
	top: 9px;
	display: inline-block;
	margin: 0 0 0 18px;
	height: 37px;
	width: 39px;
	background: url('../img/to_cart.png') 50% -40px no-repeat;
}
.to_cart:hover {
	background-position: 50% 0;
}
.to_cart:active {
	background-position: 50% -80px;
}
/*/product-end*/
/*comment*/
.comments {
	position: relative;
	font-size: 13px;
}
.comment {
	margin: 18px 0 0 36px;
}
.comments h2 {
	display: inline-block;
}
.do_comment {
	display: inline-block;
	position: relative;
	top: -5px;
	left: 18px;
	color: #000000;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dotted #000000;
	font-size: 14px;
}
.do_comment:hover {
	color: #906;
	border-color: #906;
}
.comment_who {
	font: bold 12px 'PT Sans', sans-serif;
	margin: 10px 0;
}
.comment_date {
	font-weight: normal;
	font-style: italic;
	color: #2d2d2d;
}
.lvl {
	margin-left: 32px;
}
.comment_cur {
	background: #f1f1f0;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	padding: 0 0 18px 18px;
	margin: 18px 18px 18px 0px;
}
.comment_answer {
	margin: 12px 0 0;
	font-size: 12px;
	font-style: italic;
	text-decoration: underline;
	color: #2d2d2d;
}
.comment_answer:hover {
	color: #000000;
}
/*/comment-end*/
/*news*/
.news {
	padding: 0;
}
.new {
	width: 188px;
	margin: 18px 22px;
}
.new_date {
	display: block;
	font-size: 12px;
	font-style: italic;
	color: #636363;
}
/*/news-end*/

/*price*/
.price {
	margin: 10px 0;
	position: relative;
	height: 56px;
	width: 161px;
	padding: 18px 10px 0 60px;
	border: 1px dashed #b3b3b3;
	background: url('../img/ic_price.png') 18px 50% no-repeat #f2f2f2;
}
.index .price {
	margin: 0 9px 94px;
}
.price a {
	position: relative;
	z-index: 5;
	font-weight: bold;
	font-size: 16px;
}
.price span {
	display: block;
	font-style: italic;
}
a.price_lnk {
	display: block;
	position: absolute;
	z-index: 4;
	height: 74px;
	width: 231px;
	left: 0;
	top: 0;
}
/*/price-end*/
/*cart*/
.cart_item {
	position: relative;
	padding: 15px 0 0 100px;
	min-height: 100px;
	margin: 0 0 18px;
}
.cart_item_name, .cart_item_price, .cart_item_qty_btn, .cart_item_sum, .cart_del {
	vertical-align: top;
	margin-right: 40px;
}
.cart_item_name {
	width: 150px;
}
.cart_item_name p {
	color: #2d2d2d;
	font-style: italic;
}
.cart_item_price, .cart_item_sum {
	text-align: right;
	width: 60px;
	overflow: visible;
	padding-right: 13px;
	background: url('../img/cart_rub.png') 100% 5px no-repeat;
}
.cart_item_price {
	margin-right: 100px;
}
.cart_item_qty_btn input, .cart_qty_modal_ok, .cart_qty_modal_cancel {
	overflow: visible;
	padding: 0 10px;
	margin: 0;
	border: 1px solid #ededed;
	text-align: center;
	border-radius: 6px;
	height: 26px;
	background: #ffffff;
	box-shadow: 0 2px 3px 0 #c7c7c7;
}
.cart_item_qty_btn {
	position: absolute;
	left: 400px;
	top: 10px;
}
.cart_item_qty_btn input:active, .cart_qty_modal_ok:active, .cart_qty_modal_cancel:active {
	margin: 2px 0 0 0;
	box-shadow: 0 1px 1px 0 #c7c7c7;
	background: #fafafa;
}
.cart_del {
	margin: 0;
	height: 15px;
	width: 15px;
	background: url('../img/ic_del.png') 0 0 no-repeat;
}
.cart_del:hover {
	background-position: 0 100%;
}
.cart_sum {
	position: relative;
	margin: 0 18px;
	border-top: 1px solid #000000;
	padding: 18px;
	height: 90px;
}
.cart_sum_in {
	position: absolute;
	right: 18px;
	top: 36px;
	font-size: 16px;
	font-weight: bold;
}
.itog {
	padding-right: 15px;
	background: url('../img/cart_rub.png') 100% 130% no-repeat;
}
.order_form {
	width: 300px;
	margin: 36px 0 0;
}
/*/cart-end*/
/*right*/
.right {
	display: inline-block;
	width: 231px;
	margin-top: 62px;
}
.index .right {
	left: 672px;
	margin: 20px 0 96px;
}
.cart {
	width: 200px;
	border: 8px solid #e9be7c;
	margin: 0 0 18px 0px;
	border-radius: 10px;
	padding: 10px;
	font-style: italic;
}
.cart a {
	display: block;
}
.servicies {
	margin: 20px 0 0;
}
.service {
	margin: 18px 0 0 10px;
	padding: 0 0 0 5px;
	border-left: 3px solid #e9be7c;
}
/*/right-end*/
/*categories*/
.category_img {
	overflow: visible;
	margin: 10px 0 -40px;
	min-height: 140px;
}
.category_img img {
	max-width: 300px;
}
/*/categories-end*/


/*submit*/
.submit, .submit div {
	display: inline-block;
	margin: 20px 0 0;
	position: relative;
	height: 29px;
	background: url('../img/bg_button.png') 0 0 no-repeat;
	overflow: visible;
	padding-left: 10px;
}
.submit div {
	margin: 0;
	padding: 0;
	background-position: 100% 0;
}
.submit:active {
	background-position: 0 100%;
}
.submit:active div {
	background-position: 100% 100%;
}
.submit input {
	margin: 0 0 0 -10px;
	padding: 0 16px;
	height: 29px;
	border: 0;
	background: none;
	font: bold 14px/18px 'PT Sans', sans-serif;
	color: #f0efeb;
	overflow: visible;
}
.input input, .cart_qty_modal_text, .faq_text {
	background: #f1f1f0;
	border: 1px solid #cececd;
	border-radius: 5px;
	font: 14px/18px 'PT Sans', sans-serif;
	padding: 6px 9px 3px;
	margin: 5px 0;
	height: 20px;
	width: 100%;
}
/*/submit-end*/

/*cart_qty_modal*/
.cart_qty_modal {
	position: absolute;
	top: 0;
	left: -300px;
	min-width: 230px;
	background: #fefefe;
	padding: 18px;
	border: 3px solid #e9be7c;
	height: 100px;
}
.cart_qty_modal p {
	margin-bottom: 10px;
}
.cart_qty_modal_text {
	height: 16px;
	width: 30px;
	text-align: center;
}
.cart_qty_modal_ok, .cart_qty_modal_cancel {
	display: inline-block;
	vertical-align: top;
}
/*/cart_qty_modal-end*/
/*form_faq*/
.form_faq {
	position: relative;
}
.form_faq .input input {
	width: 220px;
}
.faq_text {
	width: 425px;
	height: 62px;
	position: absolute;
	left: 258px;
	top: 0;
	overflow: hidden;
}
/*/fprm_faq-end*/
/*modal_form*/
.mod_form {
	width: 300px;
	background: #eeeeee;
	padding: 10px 35px 10px 15px;
	border-radius: 5px;
}
.mod_form  .textarea, .mod_form  textarea {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	resize: none;
}
.mod_form label {
	display: block;
	margin: 15px 0 0 5px;
	font: bold 14px/18px 'PT Sans', sans-serif;
}
/*/modal_form*/
/*texts*/
.text {
	margin: 20px 36px 20px 0;
}
.text p {margin-bottom:9px}
.text ul, .text ol {margin:0 0 18px 36px}
.text ul li {list-style:outside disc}
.text ol li {list-style:outside decimal}
.text h2, .text h3 {margin: 24px 0 9px 0;}
.text table {
	margin-bottom:18px;
	font-size:12px;
	border-collapse: collapse;
}
.text tr, .text td, .text th {
	border:1px solid #b3b3b3;
	padding:4px 8px 4px 8px;
}
.text th {
	font-weight: bold;
	background-color:#f1f1f0;
	color:#000;
	text-align:center;
}
.img_left {
	float:left;
	margin:0 18px 0 0; 
}
.img_right {
	float:right;
	margin:0 0 0 18px; 
}

/*/texts*/
/*-----------------PAGE-END-----------------*/




/*-----------------FOOTER-----------------*/
.footer {
	position:relative;
	margin:50px 0 40px 0;
	padding:14px 0 24px 0;
	background: url('../img/footer_t.png') 50% 0 no-repeat;
	font-size: 12px;
}
.footer_menu {
	display: inline-block;
	margin-left: 30px;
}
.footer_menu li {
	display: inline-block;
	margin: 0px 20px 0px 0px;
}
#copyright {
	display: inline-block;
	margin: 0px 0px 0px 18px;
}
#madein {
	color: #000000;
	font-size:12px;
	font-style: italic;
	line-height:14px;
	text-decoration:none;
	display:block;
	position:absolute;
	top:14px;
	right:6px;
	width: 148px;
}
#octoberweb {
	float: left;
	display: inline;
	margin: 0 9px 0 0;
}
#madein span{
	color: #000000;
	text-decoration: underline;
}
#madein span:hover {color: #9f7d05;}
/*-----------------FOOTER-END-----------------*/




/*-----------------STUFF-----------------*/
/*pagination*/
.pgn {
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	margin: 36px 0 18px 0;
}
.pgn a {
	margin: 0 4px 0 4px;
}
a.pgn_current {
	display: inline-block;
	width: 22px;
	margin: 0 -4px;
	text-decoration: none;
	color: #754d08;
	background-color: #e9be7c;
	font-weight: bold;
}
.pgn_l, .pgn_r {
	background: url('../img/pgn_arrs.png') no-repeat;
	display: inline-block;
	width: 12px;
	height: 14px;
}
.pgn .pgn_l, .pgn .pgn_r {margin: 0;}

.pgn_r {background-position: -16px 0;}
.pgn_l:hover {background-position: 0 -18px;}
.pgn_r:hover {background-position: -16px -18px;}
.pgn_inactive, .pgn_inactive:hover {background-position-y: -36px;}
/*/pagination*/


.cl {clear:both}