{% load siteblocks_extras pages_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block META_description %}{{ meta.description }}{% endblock %}"/>
    <meta name="keywords" content="{% block META_keywords %}{{ meta.keywords }}{% endblock %}"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen" href="/static/css/ie.css" /><![endif]-->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <title>
        {% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title ''  %}
                    {{ meta.title }}
                {% endifnotequal %}
            {% endif %}
        {% endblock %}

    </title>
</head>

<body>
	<div class="h_g"></div>
<div class="wrapper">

<!--PAGE-->
<div class="page">

    <!--HEADER-->
	<div class="header">
		<a id="logo_box" href="/" title="Каскад"><img id="logo" src="/static/img/logo.png" alt="Каскад" width="233" height="42" /></a>
		<span class="logo_note">общество с ограниченной ответственностью</span>
		<span class="short_about">изготовление и монтаж котельного оборудования</span>
		<div class="top_img"><img src="/static/img/paper_t.png" alt="" /></div>
		<div class="contacts">
			<div class="tel"><span>{{ phonecode }}</span>{{ phonenum }}</div>
			<div class="adr">{{ address }}</div>
		</div><!--/contacts-->

        {% block_menu_by_pages request.path 'header' %}

		<div class="shutter">
			<div class="shutter_text">{{ shuttertext }}</div>
			<div class="shutter_b"></div>
			<div class="shutter_ring"></div>
		</div>
	</div>
    <!--/HEADER-->

    {% block premain %}
    {% endblock %}

    <!--MAIN-->
    <div class="main index">
        {% block center %}
        {% endblock %}

        <div class="right">
        {% block right %}
        {% endblock %}
        </div><!-- /right -->

        {% block additional %}
        {% endblock %}
	</div>
    <!--/MAIN-->

    <!--FOOTER-->
    <div class="footer">
		<div id="copyright">© {{ year|date:"Y" }} ООО «Каскад»</div>

        {% block_menu_by_pages request.path 'footer' %}

		<a id="madein" title="Разработка сайта — студия OctoberWeb" href="http://octoberweb.ru/"><img id="octoberweb" alt="Разработка сайта — студия OctoberWeb" src="/static/img/octoberweb.png" width="32" height="32"/>разработка сайта <span>OctoberWeb</span></a>
    </div>
    <!--/FOOTER-->
    
</div>
<!--/PAGE-->

</div><!--/wrapper-->
</body>
</html>