{% extends "base.html" %}

{% load thumbnail siteblocks_extras pages_extras thumbnail %}

{% block title %}
    {% if meta.title %}
        {% ifnotequal meta.title ''  %}
            {{ meta.title }}
        {% endifnotequal %}
    {% endif %}
{% endblock %}

{% block center %}
    {% if is_empty %}
        <div class="cart_items col">
            <h1>Ваша корзина пока пуста</h1>
        </div><!-- /order -->
    {% else %}
        <div class="cart_items col">
            <h1>Ваша корзина</h1>
            {% for product in cart_products %}
                <div class="cart_item">
                    <div class="item_img">
                        {% thumbnail product.product.image "87x87" crop="center" as im %}
                            <a href="#">
                                <img src="{{ im.url }}" alt="" height="{{ im.height }}" width="{{ im.width }}" />
                            </a>
                        {% endthumbnail %}
                        <div class="item_img_fr"></div>
                    </div>
                    <div class="cart_item_name"><h3>{{ product.product.title }}</h3>

                        {% if product.product.get_feature_values %}
                            {% for item in product.product.get_feature_values %}
                                {% if item.show_in_cart %}
                                    <p>{{ item.feature.title }} - {{ item.value }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </div>
                    <div class="cart_item_price">{{ product.product.price }}</div>
                    <div class="cart_item_qty_btn"><input type="button" value="{{ product.count }}шт" name="{{ product.count }}" /></div>
                    <div class="cart_item_sum">{{ product.get_total }}</div>
                    <div class="cart_del"><input type="hidden" class="product_id" value="{{ product.id }}"></div>
                </div>
            {% endfor %}

            <div class="cart_sum">
                <div class="cart_sum_in">
                    <p>Итого: <span class="itog">{{ cart_str_total }}</span></p>
                    <div class="submit"><div><input type="button" value="Оформить покупку" /></div></div>
                    <input type="hidden" class="id_cart" value="{{ cart_id }}">
                </div>
            </div>

            <div class="cart_qty_modal">
                <h3>Укажите количество</h3>
                <p><span class="cart_qty_price"></span> руб. × <input class="cart_qty_modal_text" type="text" value="" /> = <span class="cart_qty_total_price"></span> руб.</p>
                <div>
                    <input type="hidden" class="cart_qty_all_count" value="" />
                    <input type="hidden" class="initial_count" value="" />
                    <input type="hidden" class="cart_qty_all_price" value="" />
                    <input type="hidden" class="cart_qty_cart_id" value="" />
                    <input type="hidden" class="cart_qty_item_id" value="" />
                    <input class="cart_qty_modal_ok" type="button" value="Сохранить" /> <input class="cart_qty_modal_cancel" type="button" value="Отменить" />
                </div>
            </div>

        </div><!-- /cart_items -->
    {% endif %}
{% endblock %}

{% block right %}
    {% block_price %}
    {% block_servicies %}
{% endblock %}

{% block additional %}
    <div class="order col">
    </div><!-- /order -->
{% endblock %}