{% if cart_products and form %}
<div class="order col">
    <h3>Ваш заказ</h3>
    <p>{% for product in cart_products %}
        {{ product.product.title }} - {{ product.count }}шт{% if forloop.last %}.{% else %},{% endif %}
    {% endfor %}
        На сумму <span>{{ cart_str_total }}</span> руб.</p>
    <form action="" class="order_form" method="post">
        <h3>Контактная информация</h3>
        <div class="input">{{ form.fullname }}</div>
        <div class="input">{{ form.contact_info }}</div>
        <div class="submit"><div><input type="button" class="send_order" value="Завершить оформление" /></div></div>
    </form>
</div><!-- /order -->
{% endif %}