{% extends "base.html" %}
{% load siteblocks_extras pagination_tags pages_extras orders_extras thumbnail cache %}

{% block title %}
    {% if page.title %}
        {{ page.title }}
    {% endif %}
    {% if meta.title %}
        {% ifnotequal meta.title ''  %}
            {{ meta.title }}
        {% else %}
            ООО «Каскад»
        {% endifnotequal %}
    {% endif %}
{% endblock %}

{% block center %}
        <div class="col">
            <h2>Отзывы</h2>
            <div class="faq">
                {% if is_successed %}
                    Благодарим за оставленный отзыв. Отзыв будет опубликован, после того как пройдет модерацию.
                {% else %}
                    <form action="" method="POST" class="form_faq">
                        <div class="input">{{ form.sender_name }}{{ form.sender_name.errors }}</div>
                        <div class="input">{{ form.email }}{{ form.email.errors }}</div>
                        <div class="textarea">{{ form.text }}{{ form.text.errors }}</div>
                        <div class="submit">
                            <div><input type="submit" value="Оставить отзыв" /></div>
                        </div>
                    </form>
                {% endif %}

            </div>
            <div class="comments">
                {% autopaginate reviews 10 %}
                {% for item in reviews %}
                    <div class="comment">
                        <div class="comment_who">
                            {{ item.sender_name }} <span class="comment_date">{{ item.date_create|date:"j E" }} в {{ item.date_create|date:"H:i" }}</span>
                        </div>
                        <p>{{ item.text }}</p>
                    </div>
                {% empty %}
                    Отзывов пока нет
                {% endfor %}
                {% paginate %}
            </div>
        </div>
{% endblock %}

{% block right %}
    {% block_servicies %}
{% endblock %}