{% extends "base.html" %}
{% load siteblocks_extras pagination_tags pages_extras orders_extras thumbnail cache %}

{% block title %}
    {% if page.title %}
        {{ page.title }}
    {% endif %}
    {% if meta.title %}
        {% ifnotequal meta.title ''  %}
            {{ meta.title }}
        {% else %}
            ООО «Каскад»
        {% endifnotequal %}
    {% endif %}
{% endblock %}

{% block center %}
        <div class="col">
        <h1>Отзывы о продукции</h1>
            <div class="recall">
                {% autopaginate reviews 10 %}
                    {% for item in reviews %}
                        {% thumbnail item.image "1000" upscale=0 as big %}
                            {% thumbnail item.image "124x177" crop="center" as im %}
                                <a href="{{ big.url }}" rel="reviews" class="recall_lnk fancybox"><span><img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" /><span class="recall_sh"></span></span>{{ item.title }}</a>
                            {% endthumbnail %}
                        {% endthumbnail %}
                    {% empty %}
                        Отзывов пока нет
                    {% endfor %}
                {% paginate %}
            </div>
        </div>
{% endblock %}

{% block right %}
    {% block_cart %}
    {% block_price %}
    {% block_servicies %}
{% endblock %}