{% extends "base.html" %}
{% load siteblocks_extras pages_extras thumbnail cache pytils_numeral mptt_tags %}

{% block title %}
    {% if product.title %}
        {{ product.title }}
    {% endif %}
{% endblock %}

{% block center %}
    {% if product %}
        <div class="product col">
        <h1>{{ product.title }}</h1>
        <div class="imgs left">

        {% if product.image.width > 1000 %}

            {% thumbnail product.image "1000" as big %}
                {% thumbnail product.image "234x209" crop="center" as im %}
                <a class="fancybox" rel="album{{product.id}}" href="{{ big.url }}">
                    <div class="item_img_zl">
                        <img src="{{ im.url }}" alt="" height="{{ im.height }}" width="{{ im.width }}" />
                        <div class="item_img_fr_zl"></div>
                    </div>
                </a>
                 {% endthumbnail %}
            {% endthumbnail %}

        {% else %}

            {% thumbnail product.image "234x209" crop="center" as im %}
            <a class="fancybox" rel="album{{product.id}}" href="{{ product.image.url }}">
                <div class="item_img_zl">
                    <img src="{{ im.url }}" alt="" height="{{ im.height }}" width="{{ im.width }}" />
                    <div class="item_img_fr_zl"></div>
                </div>
            </a>
            {% endthumbnail %}

        {% endif %}

            {% if product.get_attached_photos %}
                {% for photo in product.get_attached_photos %}

                {% if photo.image.width > 1000 %}
                    {% thumbnail photo.image "1000" as big %}
                        {% thumbnail photo.image "109x109" crop="center" as im %}
                        <a class="fancybox" rel="album{{product.id}}" href="{{ big.url }}">
                            <div class="item_img_zm">
                                <img src="{{ im.url }}" alt="" height="{{ im.height }}" width="{{ im.width }}" />
                                <div class="item_img_fr_zm"></div>
                            </div>
                        </a>
                        {% endthumbnail %}
                    {% endthumbnail %}

                {% else %}

                    {% thumbnail photo.image "109x109" crop="center" as im %}
                    <a class="fancybox" rel="album{{product.id}}" href="{{ photo.image.url }}">
                        <div class="item_img_zm">
                            <img src="{{ im.url }}" alt="" height="{{ im.height }}" width="{{ im.width }}" />
                            <div class="item_img_fr_zm"></div>
                        </div>
                    </a>
                    {% endthumbnail %}

                {% endif %}

                {% endfor %}
            {% endif %}

            {% block_price %}
        </div>
        <div class="product_des center">
            <div class="product_name">{{ product.description|safe }}</div>
            <div class="product_price">
                <span>{{ product.get_str_price }}</span>
                <div class="to_cart"></div>
            </div>
            {% if product.get_feature_values %}
            <table class="product_tech">
                <caption>Технические характеристики</caption>
                {% for item in product.get_feature_values %}
                <tr>
                    <td>{{ item.feature.title }}</td>
                    <td>{{ item.value }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            <div class="comments">
                <h2>Комментарии</h2>
                <a class="do_comment">Прокомментировать</a>

                <form class="mod_form" method="POST" action="">
                    <div class="input"><label>Имя</label>{{ form.sender_name }}{{ form.sender_name.errors }}</div>
                    <div class="input"><label>E-mail</label>{{ form.email }}{{ form.email.errors }}</div>
                    <div class="textarea"><label>Текст комментария</label>{{ form.text }}{{ form.text.errors }}</div>
                    <div class="submit">
                        <div><input type="submit" value="Отправить" /></div>
                    </div>
                </form>

                {% if comments %}

                {% recursetree comments %}
                    <div class="comment">

                        <div class="comment_who">
                            {{ node.sender_name }} <span class="comment_date">{{ node.date_create|date:"j E" }} в {{ node.date_create|date:"H:i" }}</span>
                        </div>
                        <p>{{ node.text }}</p>
                        {% ifnotequal node.level 2  %}
                            <a href="#" class="comment_answer">Ответить</a>
                        {% endifnotequal %}
                        {% if not node.is_leaf_node %}
                            <div class="comment lvl">
                                {{ children }}
                            </div>
                        {% endif %}

                    </div>
                {% endrecursetree %}

                {% endif %}

                {% if form.errors %}
                    <script type="text/javascript">showForm();</script>
                {% else %}
                    <script type="text/javascript">hideForm();</script>
                {% endif %}

            </div>






        </div>
    </div><!-- /product -->
    {% endif %}
{% endblock %}

{% block right %}
    {% include 'siteblocks/cart.html' %}
    {% block_servicies %}
{% endblock %}
